<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:application.properties"/>
    <bean id="chanceryItem"
          class="com.lab2.PencilBox.Pen">
        <constructor-arg value="Red"/>
    </bean>

    <bean id="chanceryItem1"
          class="com.lab2.PencilBox.Pencil">
        <property name="slateColor" value= "${chanceryItem.slateColor}"/>
    </bean>
    <bean id="pencilBoxBean"
          class="com.lab2.PencilBox.PencilBox">
        <constructor-arg ref="chanceryItem1"/>
    </bean>

</beans>